annotated-types==0.7.0
anyio==4.9.0
attrs==23.2.0
bcrypt==4.1.2
blinker==1.7.0
certifi==2024.6.2
click==8.1.8
colorama==0.4.6
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.111.0
fastapi-cli==0.0.7
greenlet==3.1.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.7
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.3.0
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.8.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyrsistent==0.20.0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
SQLAlchemy==2.0.39
sqlmodel==0.0.16
starlette==0.36.3
typer==0.12.3
typing_extensions==4.12.2
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
